.vscode/**
.vscode-test/**
.idea/**
.github/**
out/test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
vscode
node_modules
out/
src/
tsconfig.json
webpack.config.js
jest.config.js
jest.setup.js