on:
  push:
    tags:  
      - 'releases/v*'

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 10.x
    - run: npm install
    - run: xvfb-run -a npm test
      if: runner.os == 'Linux'
    - name: Publish
      if: success() && startsWith( github.ref, 'refs/tags/releases/')
      run: npm run deploy
      env:
        VSCE_PAT: ${{ secrets.VSCE_PAT }}
